/* Title */
.title-page {
  margin-top: 40px;
  font-size: 2rem;
  line-height: 1.3;

  @media (--screen-md) {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-top: 140px;
  }
}

/* Catalog */
.catalog__list {
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  &:not(&:last-child) {
    margin-bottom: 0.5rem;
  }

  @media(--screen-md) {
    display: inline-block;

    &:not(&:last-child) {
      margin-bottom: 0rem;
      margin-right: 1.5rem;
    }
  }
}

.catalog__link {
  color: var(--color-text-base);
  text-decoration: none;
}
