:root {
  /* Colors */
  --color-bg-light: #c6d5dd;
  --color-text-base: #333333;
  --color-text-access: #7eae4e;
  --color-text-danger: #ae544e;
  --color-text-link: #336fee;
  --color-text-nav: #000;

  /* Fonts */
  --font-size-base: 16px;

  /* Media Breakpoints */
  --screen-sm: 567px;
}
