body {
  font-family: Roboto, sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.6;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (--screen-md) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

.link {
  color: var(--color-text-link);
}
