.books {
  padding-bottom: 3rem;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);

  @media (--screen-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--screen-md) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (--screen-lg) {
    grid-template-columns: repeat(6, 1fr);
  }

  &:empty {
    display: block;
    width: 100%;
    position: relative;
    &:before {
      content: "Я пока не добавил книги в эту категорию.";
      position: absolute;
      width: 100%;

    }
  }
}

/* Skeleton Screen */
.skeleton-list {
  margin-top: 2rem;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);

  @media (--screen-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--screen-md) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (--screen-lg) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.skeleton-books {
  width: 170px;
  height: 350px;
  cursor: progress;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee), linear-gradient(#eee, #eee),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-size: 170px 350px, 170px 240px, 170px 30px, 170px 30px;
  background-position: -170px 0, 0 0, 0px 250px, 0px 290px;
  animation: loading-books 1.5s infinite;
}

@keyframes loading-books {
  to {
    background-position: 170px 0, 0 0, 0px 250px, 0px 290px;
  }
}
